* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    background: black;
    margin: 0;
}

html,
body,
#container,
header {
    height: 100%;
    min-height: 100%;
}

/*
    Full screen background via http://www.minimit.com/articles/code-tips/perfect-responsive-fullscreen-backgrounds
 */
#background-img {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: opacity 0.75s ease-in-out;
    -moz-transition: opacity 0.75s ease-in-out;
    -o-transition: opacity 0.75s ease-in-out;
    transition: opacity 0.75s ease-in-out;
}

#background-img.is-visible {
    opacity: 0.7;
}

#container {
    position: relative;
}

/*
    Vertical alignment for text via http://css-tricks.com/vertically-center-multi-lined-text/
 */
header {
    width: 100%;
    display: table;
}

header h1 {
    display: table-cell;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
    font-size: 48px;
    font-weight: bold;
}
