* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  background: black;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  body.prevent-scroll {
    max-height: 100%;
    overflow: hidden; }

html,
body,
#container,
header {
  height: 100%;
  min-height: 100%; }

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/*
    Full screen background via http://www.minimit.com/articles/code-tips/perfect-responsive-fullscreen-backgrounds
 */
#background-img {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0; }
  #background-img.is-visible {
    opacity: 0.7; }

#container {
  position: relative; }

/*
    Vertical alignment for text via http://css-tricks.com/vertically-center-multi-lined-text/
 */
header {
  width: 100%;
  display: table; }
  header h1 {
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
    display: table-cell;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    font-size: 48px;
    font-weight: bold; }

footer {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  position: absolute;
  bottom: 25px;
  width: 100%;
  opacity: 0; }
  footer.is-visible {
    opacity: 1; }
  footer ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    footer ul li {
      display: inline-block;
      list-style: none; }

#photo-credit,
#author-credit {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  position: absolute;
  bottom: 0;
  opacity: 0.7; }
  #photo-credit:hover,
  #author-credit:hover {
    opacity: 1; }

#photo-credit {
  left: 30px; }

#author-credit {
  right: 30px; }

.btn {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  display: inline-block;
  border-radius: 17px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.7);
  height: 34px;
  padding: 5px 15px; }
  .btn:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none; }

.modal {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: auto;
  z-index: 1000;
  opacity: 0; }
  .modal.is-visible {
    opacity: 0.9; }

.modal-content-wrap {
  width: 100%;
  height: 100%;
  display: table; }

.modal-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
